header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin-bottom: 30px;
}

  footer {
    background-color: aqua;
  }





.contenedor{
  background-color: blueviolet;}


  #id1{
    background-color: chocolate;

  }
/*cuando es clase es punto */
  .caja-container{
    display: flex;
    justify-content:space-around ;
width: 100%;
height: 500px;
background-color:black;

  }
  .caja1{
    width: 100px;
    height: 100px;

background-color:red;
  }
   .caja2{
       width: 100px;
    height: 100px;
    background-color:blue;
  } 
  .caja3{
       width: 100px;
    height: 100px;
    background-color:yellow;
  }